.App {
  background-color: rgb(145, 145, 145);
}

.App .container {
  margin: 0 40px;
  background-color: rgb(240, 240, 240);
}

.App .content {
  padding: 20px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 3px 5px;
}

td.active {
  font-weight: bold;
}

th {
  color: #900;
}

table,
th,
td {
  border: 1px solid #000;
  font-size: 18px;
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable.active {
  cursor: pointer;
  background-color: #ffa;
}

td.active {
  cursor: pointer;
  background-color: #ffa;
}

.info {
  display: flex;
}

img {
  width: 25%;
  height: auto;
  padding: 25px;
}

.bio-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.info-container {
  display: flex;
}

.info-header {
  font-weight: bold;
  margin-right: 12px;
}

.info-selectors {
  margin: 10px 0;
}
