.App {
  background-color: rgb(145, 145, 145);
}

.App .container {
  margin: 0 40px;
  background-color: rgb(240, 240, 240);
}

.App .content {
  padding: 0 20px;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
}

td {
  padding: 3px 5px;
}

td.active {
  font-weight: bold;
}

th {
  color: #900;
  background-color: rgb(223, 223, 223);
}

table,
th,
td {
  border: 1px solid #000;
  font-size: 18px;
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable.active {
  cursor: pointer;
  background-color: #ffa;
}

td.active {
  cursor: pointer;
  background-color: #ffa;
}

.data-selectors button{
  background-color: rgb(223, 223, 223);
  color: #900;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(58, 58, 58);
  height: 40px;
}

.data-selectors button.active{
  background-color: #8f5400;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(58, 58, 58);
  height: 40px;
}

.info {
  display: flex;
}

img {
  width: 25%;
  height: auto;
  padding: 25px;
}

.info-container {
  display: flex;
}

.info-header {
  font-weight: bold;
  margin-right: 12px;
}

.info-selectors {
  margin: 10px 0;
}

.table-header {
  color: #8f5400;
  font-weight: bolder;
  font-size: 30px;
  margin: 30px 0 10px 0;
}