.info-selectors button {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    margin: 1px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 2px;
    padding: 10px 5px;
}

.info-selectors button.active {
    background-color: #8f5400;
    color: #fff;
    margin: 1px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 2px;
    padding: 10px 5px;
}

.menu-item {
    margin: 10px;
}

.menu-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-selector.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(58, 58, 58);
}

.menu-item p {
    font-style: italic;
}

.menu-item .season-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item .season-item {
    margin: 10px 5px;
}

.team-data, .team-item{
    display: flex;
    flex-direction: column;
}

.team-item {
    margin: 5px 0 0 5px;
}

.player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.player-item {
    margin: 10px 10px 10px 0;
    width: 200px;
}

