.navbar {
}

.search {
  position: relative;
  margin: 0;
  background-color: aquamarine;
  height: 100px;
}

.logo {
  position: absolute;
  left: 100px;
}

.searchbar {
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.searchbar form {
  margin: 0 50px 0 50px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: left;
  height: 100px;
  background-color: rgb(172, 255, 197);
}

.menu h2 {
  padding: 25px;
  cursor: pointer;
}
